<html>
  <body>
    <h1>Bienvenido a Citas Web</h1>
    <p>Hola <%= nombreCompleto %>, Te brindamos tus credenciales de registro:</p>
    <ul>
      <li>Correo: <%= email %><b></b></li>
      <li>Contraseña: <%= contrasenia %><b></b></li>
    </ul>
  </body>
</html>